#root.root {--tabs-activated-bg: rgba(128,128,128,.25);}
#root.root {--tabs-font: 0.8rem sans-serif;}
#root[data-density="loose"].root {--tabs-favicon-shift: 3px;}
#root[data-density="loose"].root {--tabs-title-shift: 4px;}

/* ----------- Sidebar expanded/collapsed differences ----------- */

/* Don't indent tabs unless sidebar is expanded */
#root.root:not(:hover) {
	--tabs-indent: 0px;
}

/* Don't show custom new tab buttons when collapsed */
#root.root:not(:hover) .TabsPanel .new-tab-btn.-custom {
	visibility: collapse;
	opacity: 0;
}
#root.root:hover .TabsPanel .new-tab-btn.-custom {
	transition: opacity 0.5s;
}

/* tab close button in "always" mode should be hidden unless sidebar is expanded */
#root[data-tabs-close-btn="always"] {
	.Tab .close {
		display: none;
	}

	&:hover .Tab .close {
		display: block;
	}
}

/* ----------- Tab title and favicon appearance ----------- */

/* Tab title and favicon recentring for density: relaxed */
#root[data-density="loose"] .Tab .fav > .fav-icon {
	margin-left: var(--tabs-favicon-shift);
}
#root[data-density="loose"] .Tab .title {
	margin-left: var(--tabs-title-shift);
}

/* Favicon drop shadow */
.Tab .fav > .fav-icon {
  filter: drop-shadow(0px 0px 2px rgba(192,128,255,0.4)) !important;
}

/* Dim unloaded tabs' favicon image, not siblings of the image */
.Tab[data-discarded="true"] > .body > .fav {
	opacity: unset;

	.fav-icon {
		opacity: 0.35;
	}
}

/* Container indicator on left side */
.Tab .ctx {
	left: 1px;
}

/* Bold title on unread tabs */
.Tab[data-unread="true"] .title {
	font-weight: bold;
}

/* ----------- Tab close button on left side ----------- */

/* Move tab close button to left side when showing close button "on mouse hover */
#root[data-tabs-close-btn="hover"] {
	&#root[data-density="loose"] .Tab:hover .close {
		left: calc(var(--tabs-close-btn-margin) + calc(var(--tabs-favicon-shift) / 2));
	}
	.Tab:hover .close {
		left: var(--tabs-close-btn-margin);
		right: auto;
	}
	.Tab:hover .t-box {
		mask: linear-gradient(-90deg,transparent,#000 8px,#000) !important;
	}

	/* for group tabs, shift favicon to the right to avoid being overlapped by close button */
	&#root[data-density="loose"] .Tab[data-parent="true"] {
		&:hover .fav {
			margin-left: calc(var(--tabs-close-btn-margin) * 2 + var(--tabs-favicon-shift) + 18px);
		}
	}
	.Tab[data-parent="true"] {
		.fav {
			transition: all 0.2s ease;
		}

		&:hover .fav {
			margin-left: calc(var(--tabs-close-btn-margin) * 2 + 18px);
		}
	}

	/* Replace favicon with close button */
	.Tab[data-parent="false"] {
	/* .Tab { */
		.fav > .fav-icon {
			transition: opacity 0s;
		}
		&:hover .fav > .fav-icon {
			opacity: 0;
		}
	}

	/* Don't show tab close button on pinned tabs */
	.PinnedTabsBar .Tab .close {
		display: none;
	}
	.PinnedTabsBar .Tab:hover .fav > .fav-icon {
		opacity: inherit;
	}
}


/* ----------- Expansion toggle beside tab ----------- */

/* #root.root:hover .AnimatedTabList {
	margin-left: 16px;
}
.AnimatedTabList {
	transition: margin-left 0.2s ease;
}

#root[data-density="loose"] .Tab .exp {
	left: calc(var(--tabs-close-btn-margin) * -2 - var(--tabs-favicon-shift) - 18px);
}
.Tab .exp {
	left: calc(var(--tabs-close-btn-margin) * -2 - 18px);
	opacity: 1;
} */

/* ----------- Tab title marquee scrolling ----------- */

/*.Tab .title {
	transition: all 5s ease;
  display: inline-block;
}
.Tab:hover .title {
	margin-left: -10rem;
}*/

/* ----------- Audio icon overlapping favicon ----------- */

/*.Tab .audio {
  top: 3px !important;
  left: 10px !important;
  filter: drop-shadow(0px 0px 1px black);
}
.Tab[data-pin="true"] .audio {
  top: 12px !important;
  left: 15px !important;
  filter: drop-shadow(0px 0px 1px black);
}*/

/* ----------- Tab colors ----------- */
:root { /* change colors as you like */
	--red: #8200007f;
	--orange: #e65e0481;
	--yellow: #ffd71060;
	--green: #0082007f;
	--lightblue: #00c3ff7f;
	--blue: #3333ff7f;
	--purple: #cc00ff42;
	--black: #50505099;
	--white: #d9edf575;
}

.Tab[title*="https://github.com"], 
.PinnedTab[title*="https://github.com"] {
	--tabs-activated-bg: var(--white); /* current background */
	--frame-el-overlay-hover-bg: var(--white); /* hover bg */
}

/* ----------- Pinned Tab Bar Shadow ----------- */
/*.PinnedTabsBar {
	box-shadow: inset -2px 0px 30px rgba(0, 0, 0, 0.24);
}

#root[data-pinned-tabs-position="panel"] .PinnedDock {
	justify-content: flex-end;
}
#root[data-pinned-tabs-position="panel"]:not(:hover) .PinnedDock {
	flex-direction: row-reverse;
}*/