#root.root {--tabs-activated-bg: rgba(128,128,128,.25);}
#root.root {--tabs-font: 0.8rem sans-serif;}
#root[data-density="loose"].root {--tabs-favicon-shift: 3px;}
#root[data-density="loose"].root {--tabs-title-shift: 4px;}

/* ----------- Tab title styles ----------- */

/* tabs indent when hovering over sidebar. Useful when using the left sidebar variant */
#root.root:not(:hover) {
	--tabs-indent: 0px;
}

/* Tab title and favicon recentring. */
#root[data-density="loose"] .Tab .fav > .fav-icon {
	margin-left: var(--tabs-favicon-shift);
}
#root[data-density="loose"] .Tab .title {
	margin-left: var(--tabs-title-shift);
}

/* tab close button in "always" mode should be hidden unless sidebar is expanded */
#root[data-tabs-close-btn="always"] {
	.Tab .close {
		display: none;
	}
	.ScrollBox:hover .Tab .close {
		display: block;
	}
}

/* move tab close button to left side in "hover" mode */
#root[data-tabs-close-btn="hover"] {
	&#root[data-density="loose"] .Tab:hover .close {
		left: calc(var(--tabs-close-btn-margin) + calc(var(--tabs-favicon-shift) / 2));
	}
	.Tab:hover .close {
		left: var(--tabs-close-btn-margin);
		right: auto;
	}
	.Tab:hover .t-box {
		mask: linear-gradient(-90deg,transparent,#000 8px,#000) !important;
	}

	/* for group tabs, shift favicon to the right to avoid being overlapped by close button */
	&#root[data-density="loose"] .Tab[data-parent="true"] {
		&:hover .fav {
			margin-left: calc(var(--tabs-close-btn-margin) * 2 + var(--tabs-favicon-shift) + 18px);
		}
	}
	.Tab[data-parent="true"] {
		.fav {
			transition: all 0.2s ease;
		}

		&:hover .fav {
			margin-left: calc(var(--tabs-close-btn-margin) * 2 + 18px);
		}
	}

	/* for regular tabs, replace favicon with close button */
	.Tab[data-parent="false"] {
		.fav > .fav-icon {
			transition: opacity 0s;
		}
		&:hover .fav > .fav-icon {
			opacity: 0;
		}
	}

	/* don't show tab close button on pinned tabs */
	.PinnedTabsBar .Tab .close {
		display: none;
	}
	.PinnedTabsBar .Tab:hover .fav > .fav-icon {
		opacity: inherit;
	}
}

/* tab title marquee scrolling */
/*.Tab .title {
	transition: all 5s ease;
  display: inline-block;
}
.Tab:hover .title {
	margin-left: -10rem;
}*/

/* moves container indicator to the left */
.Tab .ctx { left: 1px; }

/* bold unread tab titles */
.Tab[data-unread="true"] .title {
	font-weight: bold;
}

/* favicon drop shadow */
.Tab .fav > .fav-icon {
  filter: drop-shadow(0px 0px 2px rgba(192,128,255,0.4)) !important;
}
.Tab .audio {
  top: 3px !important;
  left: 10px !important;
  filter: drop-shadow(0px 0px 1px black);
}
.Tab[data-pin="true"] .audio {
  top: 12px !important;
  left: 15px !important;
  filter: drop-shadow(0px 0px 1px black);
}

/* dim unloaded tabs' favicon image, not siblings of the image */
.Tab[data-discarded="true"] > .body > .fav {
	opacity: unset;

	.fav-icon {
		opacity: 0.35;
	}
}

/* ----------- Tab colors ----------- */
:root { /* change colors as you like */
	--red: #8200007f;
	--orange: #e65e0481;
	--yellow: #ffd71060;
	--green: #0082007f;
	--lightblue: #00c3ff7f;
	--blue: #3333ff7f;
	--purple: #cc00ff42;
	--black: #50505099;
	--white: #d9edf575;
}

.Tab[title*="https://github.com"], 
.PinnedTab[title*="https://github.com"] {
	--tabs-activated-bg: var(--white); /* current background */
	--frame-el-overlay-hover-bg: var(--white); /* hover bg */
}

/* ----------- Pinned Tab Bar Shadow ----------- */
/*.PinnedTabsBar {
	box-shadow: inset -2px 0px 30px rgba(0, 0, 0, 0.24);
}

#root[data-pinned-tabs-position="panel"] .PinnedDock {
	justify-content: flex-end;
}
#root[data-pinned-tabs-position="panel"]:not(:hover) .PinnedDock {
	flex-direction: row-reverse;
}*/