@import url(firefox/sideberyModsLEFT.css);
@import url(firefox/tabCloseButtonOnLeft.css);

/* sideberyModsLEFT.css variables */
:root {
    --autohide-sidebar-extended: 240px; /* width of panel extended */
    --autohide-sidebar-collapsed: 40px; /* width of panel collapsed */
}
