/* Hide most of the tab bar, but leave the alltabs-button alone */
#titlebar {
  max-height: 0;
  z-index: 1;
}
#TabsToolbar {
  background-color: transparent !important;

  #tabbrowser-tabs,
  .titlebar-buttonbox-container,
  .titlebar-spacer {
    display: none;
  }
}

/* Make room for alltabs-button on navigation bar */
#PanelUI-button:before {
  content: "";
  width: 38px;
}
#alltabs-button {
  position: absolute;
  top: 3px;
  right: 40px;
}

/* Make titlebar buttons available on navigation bar */
@media(-moz-platform: macos) {
  @media not (-moz-mac-rtl) {
    :root[tabsintitlebar] #nav-bar:before {
      content: "";
      appearance: -moz-window-button-box;
      margin: -11px 20px 11px 11px;
    }

    :root[sizemode="fullscreen"] #nav-bar:before {
      appearance: none;
      margin: 0;
    }
  }

  @media(-moz-mac-rtl) {
    :root[tabsintitlebar] #nav-bar:after {
      content: "";
      appearance: -moz-window-button-box;
      margin: -11px 11px 11px 20px;
    }

    :root[sizemode="fullscreen"] #nav-bar:after {
      appearance: none;
      margin: 0;
    }
  }
}