@media(-moz-platform: macos) {
  :root {
    --toolbar-border-color: color-mix(in srgb, currentColor 15%, transparent);
  }

  /** Mac vibrancy effect on toolbars */
  :root:not(:-moz-lwtheme) #navigator-toolbox {
    -moz-appearance: -moz-mac-source-list !important;
  }
  :root:not(:-moz-lwtheme) #TabsToolbar {
    background-color: light-dark(rgba(0,0,0,0.05), rgba(0,0,0,0.15));
  }
  :root:not(:-moz-lwtheme) #nav-bar {
    background-color: transparent !important;
  }
  :root:not(:-moz-lwtheme) #PersonalToolbar {
    background-color: transparent !important;
  }

  /* Invisible border separating toolbar icons preceding tab bar */
  :root:not(:-moz-lwtheme) #tabbrowser-tabs {
    border-inline-start: 1px solid transparent !important;
  }
}