@media(-moz-platform: macos) {
  :root {
    --sidebar-background-color: transparent !important;
    --toolbar-bgcolor: transparent !important;
  }
  .browser-toolbar {
    background-color: transparent !important;
  }
  #sidebar-main {
    appearance: -moz-window-titlebar !important;
  }
  #sidebar-box {
    appearance: -moz-window-titlebar !important;
  }
/*   #webext-panels-browser {
    backdrop-filter: blur(10px) !important;
    background-color: rgba(0, 0, 0, 0.2);
  } */
}

