#main-window:not([extradragspace="true"]):not([infullscreen]):not([inDOMFullscreen]) #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden])
 ~ #appcontent {
  margin-right: var(--autohide-sidebar-collapsed);
}

#main-window:not([extradragspace="true"]) #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden]) {
  position: fixed;
  right: 0;
}

#main-window:not([extradragspace="true"]) #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden]):hover {
  width: var(--autohide-sidebar-extended) !important;
}
