/* Tab close button on left */
.tabbrowser-tab .tab-close-button {
    display: none !important;
    margin-left: -4px;
    order: -1;
}
sidebar-main[expanded] #tabbrowser-tabs[orient="vertical"] .tabbrowser-tab:hover .tab-content:not([pinned]),
#tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab:hover .tab-content:not([pinned]) {
    .tab-close-button {
        display: inline-flex !important;
    }
    .tab-icon-stack {
        display: none;
    }
}
.tabbrowser-tab:hover .tab-content:not([pinned]) .tab-label-container {
    margin-left: 5.5px;
    mask-image: linear-gradient(to left, transparent, black calc(var(--tab-label-mask-size) + 11px)) !important;
}